<template>
  <div class="holder">
    <div class="details">
      <img :src="artist.profilePic" :alt="artist.name" />
      <div class="contacts">
        <p class="email-address">{{artist.email}}</p>
        <p class="phone">{{artist.phoneNumber}}</p>
      </div>
    </div>
    <div class="name">{{artist.name}}</div>
    <div class="date">{{formatDate(artist.registrationDate)}}</div>
    <VerifyCard :status="artist.status" @statusChange="onChangeStatus" />
  </div>
</template>

<script>
import { format } from "date-fns";
import artistService from "../services/artists.service";
import VerifyCard from "@/components/VerifyCard.vue";
export default {
  props: ["artist"],
  components: {
    VerifyCard
  },
  methods: {
    formatDate(date) {
      return format(date, "ddd DD MMM YYYY");
    },
    onChangeStatus(status) {
      console.log(status);
      switch (status) {
        case 1:
        case 2:
          this.changeStatus(3);
          break;
        case 3:
          this.changeStatus(1);
          break;
        case 4:
          this.changeStatus(2);
          break;
      }
    },
    async changeStatus(type) {
      const { data } = await artistService.verifyArtist(this.artist._id, type);
      if (data.message == "Successfully Updated")
        switch (type) {
          case 1:
            this.artist.status = "verified";
            break;
          case 2:
            this.artist.status = "rejected";
            break;
          case 3:
            this.artist.status = "unverified";
            break;
        }
    }
  }
};
</script>

<style lang="scss" >
i {
  margin: 0 0.2rem;
  cursor: pointer;
}
.fas.fa-check-circle {
  color: #25ae88;
}
.fas.fa-times-circle {
  color: #d75a4a;
}
.far.fa-times-circle:hover {
  color: #d75a4a;
  transform: scale(1.1);
}
.far.fa-check-circle:hover {
  color: #25ae88;
  transform: scale(1.1);
}
.date {
  font-size: 0.8em;
}
</style>