<template>
  <div class="chart">
    <apexchart width="100%" type="area" :options="options" :series="series"></apexchart>
  </div>
</template>

<script>
export default {
  data() {
    return {
      options: {
        zoom: {
          enabled: false,
          type: "x",
          zoomedArea: {
            fill: {
              color: "#90CAF9",
              opacity: 0.4
            },
            stroke: {
              color: "#0D47A1",
              opacity: 0.4,
              width: 1
            }
          }
        },
        chart: {
          id: "vuechart-example"
        },
        xaxis: {
          type: "datetime"
          // tickAmount: 12
        },
        yaxis: {
          // show: false,
          opposite: true,
          labels: {
            align: "right"
            // maxWidth: 1
          },
          forceNiceScale: true
          // floating: true
        },
        tooltip: {
          enabled: true,
          theme: "dark",
          x: {
            show: true,
            format: "dd-MMM-yy",
            formatter: undefined
          }
        },
        legend: {
          labels: {
            colors: "#fff"
          }
        },
        theme: {
          // mode: "dark",
          palette: "palette1",
          monochrome: {
            enabled: false,
            color: "#000",
            shadeTo: "light",
            shadeIntensity: 1
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          curve: "smooth",
          lineCap: "round",
          colors: undefined,
          width: 2,
          dashArray: 0
        }
      },
      series: [
        {
          name: "Registrations",
          data: [30, 40, 45, 50, 49, 60, 70, 91]
        }
      ]
    };
  },
  watch: {
    regCount(newValue, oldValue) {
      this.updateChart();
    }
  },
  created() {
    this.updateChart();
  },
  props: ["regCount"],
  methods: {
    updateChart() {
      this.series[0].data = this.regCount.map(item => {
        return {
          x: item._id,
          y: item.count
        };
      });
      // this.series[0].data.forEach(element => {
      //   console.log(element.x);
      // });
    }
  }
};
</script>

<style lang="scss" scoped>
.chart {
  // background: grey;
  width: 100%;
  flex: 1;
}
</style>