<template>
  <div class="card" :class="{highlight:highlight
  }">
    <h4 class="title">{{title}}</h4>
    <h2 class="value">{{value}}</h2>
  </div>
</template>

<script>
export default {
  props: ["title", "value", "highlight"]
};
</script>

<style lang="scss" scoped>
.card {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe0eb;
  border-radius: 10px;
  background: white;

  .title {
    color: grey;
    margin-bottom: 10px;
  }

  .value {
    color: black;
    font-weight: 900;
    font-size: 40px;
    margin: 0;
    padding: 0;
  }

  &.highlight {
    .title,
    .value {
      color: #3751ff;
    }
    border: 1px solid #3751ff;
  }
}
</style>