<template>
  <div class="holder">
    <div class="chart-side">
      <h3 class="title">Number of Registrations</h3>
      <p class="sub-title">from Aug 2019 to Oct 2019</p>
      <ChartComponent :regCount="regCount" />
    </div>
    <div class="more-data">
      <div class="data-item">
        <h4 class="title">Total Registrations</h4>
        <h2 class="value">{{stats.totalRegistrations}}</h2>
      </div>
      <div class="data-item">
        <h4 class="title">Total Verified</h4>
        <h2 class="value">{{stats.verifiedArtists}}</h2>
      </div>

      <div class="data-item">
        <h4 class="title">Total Rejected</h4>
        <h2 class="value">{{stats.rejectedArtists}}</h2>
      </div>
      <div class="data-item">
        <h4 class="title">Verified Ratio</h4>
        <h2 class="value">{{(stats.verifiedArtists / stats.totalRegistrations * 100).toFixed(2)}}%</h2>
      </div>
      <div class="data-item">
        <h4 class="title">Average response time</h4>
        <h2 class="value">3h 8m</h2>
      </div>
    </div>
  </div>
</template>

<script>
import ChartComponent from "@/components/ChartComponent.vue";
export default {
  components: {
    ChartComponent
  },
  props: ["stats", "regCount"]
};
</script>

<style lang="scss" scoped>
.holder {
  margin: 2rem 0;
  background: white;
  border: 1px solid #dfe0eb;
  border-radius: 10px;
  display: flex;
  .chart-side {
    flex: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .title {
      padding: 0;
      margin: 0;
    }
    .sub-title {
      margin: 0.5rem 0;
      color: #9fa2b4;
    }
  }
  .more-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 1px solid #dfe0eb;

    .data-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // padding: 2rem 0;

      .title {
        margin: 1rem 0;
        color: #9fa2b4;
      }

      .value {
        margin: 0;
        margin-bottom: 1rem;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #dfe0eb;
      }
    }
  }
}
</style>