<template>
  <div class="filter-box">
    <h3>Filter By:</h3>
    <div class="choices">
      <!-- <p @click="$emit('statusChange', 'verified')" :class="{active: status=='verified'}">Verified</p>
      <p
        @click="$emit('statusChange', 'unverified')"
        :class="{active: status=='unverified'}"
      >Unverified</p>
      <p @click="$emit('statusChange', 'rejected')" :class="{active: status=='rejected'}">Rejected</p>-->
      <p
        v-for="type of statusTypes"
        :key="type"
        @click="$emit('statusChange', type)"
        :class="{active: status===type}"
      >{{type}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ["status", "statusTypes"],
  created() {
    console.log(this.statusTypes);
  }
};
</script>

<style lang="scss" scoped>
.filter-box {
  z-index: 1;
  position: absolute;
  right: 100%;
  top: -10px;
  background: #4b506d;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  color: white;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  // height: 300px;
  .choices {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    p {
      padding: 0.5rem;
      border: 1px solid white;
      margin: 7px;
      text-transform: capitalize;
      // border-radius: 10px;
      font-size: 0.8em;
      cursor: pointer;
      &:hover {
        background: #dde2ff;
        color: #4b506d;
      }
      &.active {
        background: #dde2ff;
        color: #4b506d;
      }
    }
  }
}
</style>