<template>
  <div class="back">
    <div class="circle"></div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.circle {
  width: 80px;
  height: 80px;
  border: 3px solid #9fa2b4;
  // border-left: 3px solid #3e4049;
  border-bottom: 3px solid #3e4049;
  border-radius: 50%;
  animation: rotate 1000ms infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>