<template>
  <div class="paginator">
    <div class="content">
      {{((perPage*page)-perPage)+1}}-{{showTo()}} of {{total}}
      <i
        v-if="page > 1"
        v-tooltip="'First Page'"
        class="fas fa-angle-double-left"
        @click="$emit('first')"
      ></i>
      <i v-tooltip="'Prev Page'" v-if="page > 2" class="fas fa-chevron-left" @click="$emit('prev')"></i>
      <i
        v-tooltip="'Next Page'"
        v-if="page*perPage < (total - perPage)"
        class="fas fa-chevron-right"
        @click="$emit('next')"
      ></i>
      <i
        v-tooltip="'Last Page'"
        v-if="page*perPage < total"
        @click="$emit('last')"
        class="fas fa-angle-double-right"
      ></i>
    </div>
  </div>
</template>

<script>
export default {
  props: ["perPage", "page", "total"],
  methods: {
    showTo() {
      return this.perPage * this.page < this.total
        ? this.perPage * this.page
        : this.total;
    }
  }
};
</script>

<style lang="scss" scoped>
.paginator {
  display: flex;
  padding: 0 2rem;
  color: #9fa2b4;
  justify-content: flex-end;
  i {
    padding: 1rem 1rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.5);
      color: black;
    }
  }
}
</style>
