<template>
  <div>
    <div class="logo">
      <img src="../assets/newwell_logo.png" alt="logo" />
    </div>
    <ul class="nav-area">
      <li :class="{active: currentRoute == 'overview'}">
        <router-link :to="{name: 'overview'}">
          <i class="fas fa-chart-pie"></i>Overview
        </router-link>
      </li>
      <li :class="{active: currentRoute == 'artists'}">
        <router-link :to="{name: 'artists'}">
          <i class="fas fa-address-card"></i>Artists
        </router-link>
      </li>
      <li :class="{active: currentRoute == 'songs'}">
        <router-link :to="{name: 'songs'}">
          <i class="fas fa-music"></i>Songs
        </router-link>
      </li>
      <li>
        <router-link :to="{name: 'artists'}">
          <i class="fas fa-compact-disc"></i>Albums
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    currentRoute() {
      return this.$route.name;
    }
  }
};
</script>

<style lang='scss' scoped>
.nav-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* border: 1px solid red; */
  padding: 0;
}

.nav-area li {
  width: 100%;
  /* border: 1px solid red; */
  color: #888a96;
  margin: 0;
  cursor: pointer;

  a {
    padding: 20px 0;
  }

  i {
    margin: 0 20px;
  }

  &.active {
    background: #3e4049;
    color: #dde2ff;
    border-left: 3px solid;
  }
}
.logo img {
  width: 100%;
}
</style>

