<template>
  <div class="holder">
    <div class="row">
      <div class="song-details">
        <img :src="song.albumArt" alt />
        <div class="text-details">
          <p v-tooltip="'Song Tiltle'" class="song-title">{{song.title}}</p>
          <p v-tooltip="'Artist Name'" class="artist-name">{{song.artist.name}}</p>
          <p v-tooltip="'Song Genre'" class="genre">{{song.genre}}</p>
        </div>
      </div>
      <div class="audio-component">
        <audio :src="song.audioFile" controls></audio>
      </div>
      <VerifyCard @statusChange="onStatusChange" :status="song.status" />
    </div>
    <div class="row">
      <div class="platforms">
        <h4>Selected Platforms</h4>
        <div class="selected">
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
          <div class="item">Spotify</div>
        </div>
      </div>
      <div class="distro-verify">
        <form>
          <input type="text" placeholder="Link to fanlink" v-model="song.link" />
          <input type="submit" value="DitroKid Verify" />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { verifySong } from "../services/songs.service";
import VerifyCard from "@/components/VerifyCard.vue";
export default {
  props: ["song"],
  components: {
    VerifyCard
  },
  methods: {
    onStatusChange(status) {
      switch (status) {
        case 1:
        case 2:
          this.verify(4);
          break;
        case 3:
          this.verify(1);
          break;
        case 4:
          this.verify(3);
          break;
      }
    },
    async verify(type) {
      const { data } = await verifySong(this.song._id, type);
      // console.log(data);
      if (data.message == "Successfully Updated") {
        switch (type) {
          case 1:
            this.song.status = "verified_newwell";
            break;
          case 3:
            this.song.status = "rejected";
            break;
          case 4:
            this.song.status = "unverified";
            break;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.holder {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // border: 1px solid;
  margin: 0 auto;
  // width: 800px;
  padding: 1rem;
  .row:nth-child(2) {
    margin-top: 1rem;
  }
}
.row {
  display: flex;
  justify-content: space-between;

  .status {
    flex: 1;
    i {
      margin-right: 0.2rem;
    }
    .title {
      text-transform: capitalize;
      font-size: 0.8rem;
    }
  }
  > * {
    margin-right: 2rem;
  }
  align-items: center;
  .song-details {
    display: flex;
    flex: 2;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
      margin-right: 1rem;
    }
    .text-details p {
      margin: 0.5rem 0;
    }
  }

  .audio-component {
    flex: 3;
    audio {
      width: 100%;
      outline: none;
    }
  }

  .platforms {
    .selected {
      display: flex;
      // max-width: calc(800px / 2);
      flex-wrap: wrap;
      .item {
        margin: 0.5rem 0.5rem 0.5rem 0;
        background: #dfe0eb;
        color: #505a8c;
        padding: 0.3rem;
        border-radius: 10px;
        font-size: 0.8em;
      }
    }
  }

  .distro-verify {
    form {
      display: flex;
      input[type="text"] {
        flex: 1;
        border: none;
        outline: none;
        border-bottom: 2px solid;
        margin-right: 0.5rem;
      }
      input[type="submit"] {
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        cursor: pointer;
        background: #25ae88;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        color: white;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

i {
  margin: 0 0.2rem;
  cursor: pointer;
}
.fas.fa-check-circle {
  color: #25ae88;
}
.fas.fa-times-circle {
  color: #d75a4a;
}
.far.fa-times-circle:hover {
  color: #d75a4a;
  transform: scale(1.1);
}
.far.fa-check-circle:hover {
  color: #25ae88;
  transform: scale(1.1);
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>