<template>
  <div class="main-holder">
    <div class="header">
      <h3 class="title">Songs Verification Board</h3>
      <div class="extras">
        <div class="option">
          <i class="fas fa-sort-amount-up"></i>
          Sort
        </div>
        <div class="option">
          <FilterBox
            v-if="openFilter"
            :status="status"
            @statusChange="onChangeStatus"
            :statusTypes="['verified_distro', 'verified_newwell', 'unverified', 'rejected']"
          />
          <div @click="openFilter = !openFilter">
            <i class="fas fa-filter"></i>
            Filter
          </div>
        </div>
      </div>
    </div>
    <div class="songs">
      <Loading v-if="loading" />
      <SongCard v-else v-for="(song, i) of songs" :song="song" :key="i" />
    </div>
    <Paginator
      v-if="!loading"
      :page="page"
      :perPage="perPage"
      :total="total"
      @prev="page--"
      @next="page++"
      @first="page = 1"
      @last="page = Math.ceil(total / perPage)"
    />
  </div>
</template>

<script>
import SongCard from "@/components/SongCard.vue";
import { getAllSongs } from "../services/songs.service";

import Paginator from "@/components/Paginator.vue";
import Loading from "@/components/Loading.vue";
import FilterBox from "@/components/FilterBox.vue";
export default {
  components: {
    SongCard,
    Paginator,
    Loading,
    FilterBox
  },
  data() {
    return {
      songs: [],
      perPage: 10,
      page: 1,
      total: 0,
      loading: false,
      status: "",
      openFilter: false
    };
  },
  created() {
    this.fetchSongs();
  },
  methods: {
    async fetchSongs() {
      this.loading = true;
      const { data } = await getAllSongs(this.perPage, this.page, this.status);
      this.songs = data.results;
      const { current_page, per_page, total_count } = data.meta;
      this.perPage = per_page;
      this.page = current_page;
      this.total = total_count;
      this.loading = false;
    },
    onChangeStatus(status) {
      if (this.status == status) this.status = "";
      else this.status = status;
    }
  },
  watch: {
    page(newValue, oldValue) {
      this.fetchSongs();
      window.scrollTo(0, 0);
    },
    status(newValue, oldValue) {
      this.fetchSongs();
    }
  }
};
</script>

<style lang="scss" scoped>
.main-holder {
  border: 1px solid #dfe0eb;
  background: white;
  border-radius: 10px;
  margin: 2rem 0;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    .extras {
      display: flex;
      .option {
        margin: 0 1rem;
        cursor: pointer;
        i {
          color: #c5c7cd;
        }
        color: #4b506d;
      }
    }
  }
  .songs {
    margin: 0rem;
    // border: 1px solid #dfe0eb;

    // border-radius: 10px;
    > *:not(.back) {
      border-bottom: 1px solid #dfe0eb;
    }
    > :first-child:not(.back) {
      border-top: 1px solid #dfe0eb;
    }
  }
  .paginator {
    display: flex;
    padding: 0 2rem;
    color: #9fa2b4;
    justify-content: flex-end;
    i {
      padding: 1rem 1rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.5);
        color: black;
      }
    }
  }
}
.back {
  margin: 8rem 0;
}
</style>