<template>
  <div class="holder-inner">
    <div class="task-details">
      <i v-if="!done" class="far fa-circle"></i>
      <i v-else class="fas fa-check-circle"></i>
      <h4>{{title}}</h4>
    </div>

    <div class="tag">
      <span class="tag-name" :class="tag">{{tag}}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: ["title", "tag", "done"]
};
</script>

<style lang="scss" scoped>
.holder-inner {
  display: flex;
  justify-content: space-between;
  // justify-content: center;
  padding: 1rem 2rem;
  align-items: center;
  border-bottom: 1px solid #dfe0eb;
  .task-details {
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-circle {
      color: #9fa2b4;
    }
    .fa-check-circle {
      color: #3751ff;
    }
    h4 {
      margin-left: 1rem;
      font-size: 0.8em;
      font-weight: 600;
    }
  }
  .tag-name {
    padding: 7px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 900;
    color: white;
    &.urgent {
      background: #fec400;
    }
    &.default {
      background: #f0f1f7;
      color: #9fa2b4;
    }
    &.new {
      background: #29cc97;
    }
  }
}
</style>