<template>
  <div class="holder">
    <div class="header">
      <h4 class="title">Tasks</h4>
      <p class="sub-title">Today</p>
    </div>
    <div class="data-list">
      <div class="task-input">
        <input type="text" placeholder="Create new Task" />
        <i class="fas fa-plus"></i>
      </div>
      <Task title="Check for DistroKid Updates" tag="urgent" />
      <Task title="Check for DistroKid Updates" tag="new" done="true" />
      <Task title="Check for DistroKid Updates" tag="default" />
    </div>
  </div>
</template>

<script>
import Task from "@/components/Task.vue";
export default {
  components: {
    Task
  }
};
</script>

<style lang="scss" scoped>
.holder {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe0eb;
  border-radius: 10px;
  background: white;
  .header {
    padding: 2rem 2rem 1rem 2rem;
    > * {
      margin-bottom: 1rem;
    }
    .sub-title {
      color: #9fa2b4;
      font-size: 0.8em;
    }
  }
  .data-list {
    display: flex;
    flex-direction: column;
    div:last-child {
      border: none;
    }
    .task-input {
      display: flex;
      justify-content: space-between;
      padding: 0.7rem 2rem;
      border-bottom: 1px solid #dfe0eb;
      input {
        border: none;
        outline: none;
        flex: 1;
        &::placeholder {
          color: #9fa2b4;
        }
      }
      i {
        background: #f0f1f7;
        padding: 7px;
        border-radius: 10px;
        color: #9fa2b4;
        cursor: pointer;
      }
    }
  }
}
</style>