<template>
  <div class="holder">
    <div class="header">
      <h4 class="title">Songs Statistics</h4>
      <p class="sub-title">All songs</p>
    </div>
    <div class="data-list">
      <div class="data-item">
        <h6 class="title">Unverified Songs</h6>
        <p class="value">{{stats.unverifiedSongs}}</p>
      </div>
      <div class="data-item">
        <h6 class="title">Songs Verified By Newwell</h6>
        <p class="value">{{stats.verifiedSongs}}</p>
      </div>
      <div class="data-item">
        <h6 class="title">Songs Verified By Distrokid</h6>
        <p class="value">{{stats.distroVerified}}</p>
      </div>
      <div class="data-item">
        <h6 class="title">Total Songs</h6>
        <p class="value">{{stats.totalSongs}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["stats"]
};
</script>

<style lang="scss" scoped>
.holder {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe0eb;
  border-radius: 10px;
  background: white;

  .header {
    padding: 2rem 2rem 1rem 2rem;
    > * {
      margin-bottom: 1rem;
    }
    .sub-title {
      color: #9fa2b4;
      font-size: 0.8em;
    }
  }
  .data-list {
    display: flex;
    flex-direction: column;
    .data-item {
      &:not(:last-child) {
        border-bottom: 1px solid #dfe0eb;
      }
      display: flex;
      padding: 1rem 2rem;
      justify-content: space-between;
      .title {
        font-size: 0.8em;
        font-weight: 600;
      }
      .value {
        color: #9fa2b4;
      }
    }
  }
}
</style>