<template>
  <div class="status">
    <div class="icons">
      <i
        v-if="status == 'verified_newwell' || status =='verified_distro' || status =='verified'"
        @click="$emit('statusChange', 1)"
        class="fas fa-check-circle fa-2x"
      ></i>
      <i
        @click="$emit('statusChange', 2)"
        v-else-if="status == 'rejected'"
        class="fas fa-times-circle fa-2x"
      ></i>
      <template v-else>
        <i @click="$emit('statusChange', 3)" class="far fa-check-circle fa-2x"></i>
        <i @click="$emit('statusChange', 4)" class="far fa-times-circle fa-2x"></i>
      </template>
    </div>
    <div v-tooltip="'Song Status'" class="title">{{status}}</div>
  </div>
</template>

<script>
export default {
  props: ["status"]
};
</script>

<style lang="scss" scoped>
i {
  margin: 0 0.2rem;
  cursor: pointer;
}
.fas.fa-check-circle {
  color: #25ae88;
}
.fas.fa-times-circle {
  color: #d75a4a;
}
.far.fa-times-circle:hover {
  color: #d75a4a;
  transform: scale(1.1);
}
.far.fa-check-circle:hover {
  color: #25ae88;
  transform: scale(1.1);
}

.status {
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.status {
  flex: 1;
  i {
    margin-right: 0.2rem;
  }
  .title {
    text-transform: capitalize;
    font-size: 0.8rem;
    color: #9fa2b4;
  }
}
</style>