<template>
  <div class="main-holder">
    <div class="header">
      <h3 class="title">Artists Verification Board</h3>
      <div class="extras">
        <div class="option">
          <i class="fas fa-sort-amount-up"></i>
          Sort
        </div>
        <div class="option">
          <FilterBox
            @statusChange="onChangeStatus"
            v-if="openFilter"
            :status="status"
            :statusTypes="['verified', 'unverified', 'rejected']"
          />
          <div @click="openFilter = !openFilter">
            <i class="fas fa-filter"></i>
            Filter
          </div>
        </div>
      </div>
    </div>

    <div class="artists-table">
      <div class="holder">
        <div class="details">
          <span>Artist Details</span>
        </div>
        <div class="name">
          <span>Artist Name</span>
        </div>
        <div class="date">
          <span>Date Joined</span>
        </div>
        <div class="status">
          <span>Status</span>
        </div>
      </div>
      <div class="artists">
        <Loading v-if="loading" />
        <ArtistCard v-else v-for="(artist,i) of artists" :key="i" :artist="artist" />
      </div>

      <Paginator
        v-if="!loading"
        :page="page"
        :perPage="perPage"
        :total="total"
        @prev="page--"
        @next="page++"
        @first="page = 1"
        @last="page = Math.ceil(total / perPage)"
      />
    </div>
  </div>
</template>

<script>
import ArtistCard from "@/components/ArtistCard.vue";
import Loading from "@/components/Loading.vue";
import Paginator from "@/components/Paginator.vue";
import FilterBox from "@/components/FilterBox.vue";

import ArtistsService from "../services/artists.service";
export default {
  data() {
    return {
      artists: [],
      perPage: 8,
      page: 1,
      total: 0,
      status: "",
      loading: false,
      openFilter: false
    };
  },
  async created() {
    this.fetchArtists();
  },
  components: {
    ArtistCard,
    Loading,
    Paginator,
    FilterBox
  },
  methods: {
    async fetchArtists() {
      this.loading = true;
      const { data } = await ArtistsService.getArists(
        this.perPage,
        this.page,
        this.status
      );
      this.artists = data.results;
      const { current_page, per_page, total_count } = data.meta;
      this.perPage = per_page;
      this.page = current_page;
      this.total = total_count;
      this.loading = false;
    },
    onChangeStatus(status) {
      if (this.status == status) this.status = "";
      else this.status = status;
    }
  },
  watch: {
    page(newValue, oldValue) {
      this.fetchArtists();
      window.scrollTo(0, 0);
    },
    status(newValue, oldValue) {
      this.fetchArtists();
    }
  }
};
</script>

<style lang="scss" >
.main-holder {
  border: 1px solid #dfe0eb;
  background: white;
  border-radius: 10px;
  margin: 2rem 0;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    .extras {
      display: flex;
      .option {
        position: relative;
        margin: 0 1rem;
        cursor: pointer;
        i {
          color: #c5c7cd;
        }
        color: #4b506d;
      }
    }
  }

  // padding: 2rem;
  .artists-table {
    display: flex;
    flex-direction: column;
    .holder {
      display: flex;
      padding: 1rem 2rem;

      border-bottom: 1px solid #dfe0eb;

      span {
        color: #9fa2b4;
      }
      .details {
        flex: 5;
        display: flex;
        img {
          width: 44px;
          height: 44px;
          object-fit: cover;
          border-radius: 50%;
        }
        .contacts {
          margin-left: 1rem;
          .phone {
            color: #9fa2b4;
            margin-top: 5px;
            font-size: 0.8em;
          }
        }
      }
      .name {
        flex: 3;
      }
      .date {
        flex: 2;
      }
      .status {
        flex: 2;
        text-transform: capitalize;
        .title {
          color: #9fa2b4;
          font-size: 0.8em;
        }
      }
    }
    .paginator {
      display: flex;
      padding: 0 2rem;
      color: #9fa2b4;
      justify-content: flex-end;
      i {
        padding: 1rem 1rem;
        cursor: pointer;
        &:hover {
          transform: scale(1.5);
          color: black;
        }
      }
    }
  }
}

.artists .back {
  margin: 8rem 0;
}
</style>