<template>
  <div class="container">
    <h1>Artists</h1>
    <VerificationBoard />
  </div>
</template>

<script>
import VerificationBoard from "@/components/VerificationBoard.vue";
export default {
  components: {
    VerificationBoard
  }
};
</script>

<style lang="scss" scoped>
</style>