<template>
  <div class="container">
    <template v-if="loading">
      <div class="loading">
        <Loading />
      </div>
    </template>
    <template v-else>
      <h1>Overview</h1>
      <div class="data-cards">
        <DataCard title="Unverified Artists" :value="stats.unverifiedArtists" />
        <DataCard title="Verified Artists" :value="stats.verifiedArtists" :highlight="true" />
        <DataCard title="Unverified Songs" :value="stats.unverifiedSongs" />
        <DataCard title="Verified Songs" :value="stats.verifiedSongs" :highlight="true" />
      </div>
      <DataView :stats="stats" :regCount="regCount" />
      <div class="lower-section">
        <Unresolved :stats="stats" />
        <TaskView />
      </div>
    </template>
  </div>
</template>

<script>
import DataCard from "@/components/DataCard.vue";
import DataView from "@/components/DataView.vue";
import Unresolved from "@/components/Unresolved.vue";
import TaskView from "@/components/TaskView.vue";
import Loading from "@/components/Loading.vue";

import AnalyticsService from "../services/analytics.service";
import { setTimeout } from "timers";
export default {
  data() {
    return {
      stats: {
        unverifiedArtists: 0,
        verifiedArtists: 0,
        unverifiedSongs: 0,
        verifiedSongs: 0,
        totalRegistrations: 0,
        rejectedArtists: 0
      },
      regCount: [],
      loading: false
    };
  },
  async created() {
    this.loading = true;
    const { data: artistStats } = await AnalyticsService.getArtistAnalytics();
    const { data: songStats } = await AnalyticsService.getSongAnalytics();
    const { data: regCount } = await AnalyticsService.getRegistrationCount();

    this.stats = {
      unverifiedArtists: artistStats.unverified,
      verifiedArtists: artistStats.verified,
      unverifiedSongs: songStats.unverified,
      verifiedSongs: songStats.verified_newwell,
      distroVerified: songStats.verified_distro,
      totalSongs: songStats.total,
      totalRegistrations: artistStats.total,
      rejectedArtists: artistStats.rejected
    };
    this.regCount = regCount;

    this.loading = false;
  },
  components: {
    DataCard,
    DataView,
    Unresolved,
    TaskView,
    Loading
  }
};
</script>

<style lang="scss" scoped>
.container {
}
.loading {
  height: calc(100vh - 2rem);
}
.data-cards {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.lower-section {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

  > * {
    width: 48%;
  }
}
</style>