<template>
  <div class="container">
    <h1>Songs</h1>
    <SongsBoard />
  </div>
</template>

<script>
import SongsBoard from "@/components/SongsBoard.vue";
export default {
  components: {
    SongsBoard
  }
};
</script>

<style lang="scss" scoped>
</style>