<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>adminpanel</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        box-sizing: border-box;
        font-family: "Muli", sans-serif;
        margin: 0;
        padding: 0;
        user-select: none;
      }
      body::-webkit-scrollbar {
        width: 0.7em;
      }

      body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
        background: #363740;
      }

      body::-webkit-scrollbar-thumb {
        background-color: #bf8f30;
        outline: 1px solid slategrey;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
      }
      a {
        color: inherit;
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but adminpanel doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
